
// Color Variables
$primary-color: #FF7315;

$secondary-color:#3A3535;




$white-1:#ffffff;
$white-2:#F3F3F3;
$body-background:#F3F3F3;



$grey-color-1:#f7f7f7;
$grey-color-2:#f6fafd;



$black-1:#222;



// Shadow Variables
$shadow-1: rgba(17, 17, 26, 0.1) 0px 1px 0px;


// Grid
// $grid-width:114rem;
$grid-width:96rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;