#team{
    height: 45rem;
    width: 100%;
    background-color: $secondary-color;

}

.icon-lawya {

    display: inline-block;
    width: 4rem;
    height: 4rem;
    margin-right: 16px;
    fill: white;

}