#testimonials{
padding: 15rem 0 ;

}


.testimonial-card-container{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    // margin: 0 0 10rem;
    
}